$dark-color: #0B1D51;
$primary-color: #725CAD;
$darker-primary-color: #241d37;
$secondary-color: #8CCDEB;
$darker-secondary-color: #6b9eb5;
$light-color: #FFE3A9;
$understated-color: #E1E1E1;
$darker-understated-color: #cacaca;
