[Unit]
Description=FastAPI instance to serve api.logbook
After=network.target

[Service]
Type=simple
Environment="PATH=$PATH:/home/ubuntu/projects/log-book/.venv/bin"
WorkingDirectory=/home/ubuntu/projects/log-book/api
ExecStart=/home/ubuntu/projects/log-book/.venv/bin/uvicorn log_book.app:app --log-config uvicorn_logger.ini

[Install]
WantedBy=default.target
