[Unit]
Description=FastAPI instance to serve api.logbook
After=network.target

[Service]
User=root
Type=simple
Environment="PATH=$PATH:/root/projects/log-book/.venv/bin"
WorkingDirectory=/home/avilay/projects/github/log-book/api/log_book
ExecStart=/root/projects/log-book/.venv/bin/fastapi run app.py

[Install]
WantedBy=default.target
